.listagem {
    max-width: 200px;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #284769;
    color: #ffff;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 10px;
    transition: 0.15s ease-in-out;
}

.listagem .pokemon:hover{
    transform: scale(1.05);
}

.listagem .pokemon img {
    width: 25%;
    border-radius: 50%;
    background-color: #0000002F;
}

.listagem .pokemon span {
    padding-right: 20px;
}

 #charmander:hover{
    background-color: #FF6347;
}

#pikachu:hover {
    background-color: #FCC719;
}

#squirtle:hover {
    background-color: #76befe;
}

#bulbasaur:hover {
    background-color: #3CB371;
}

#gengar:hover {
    background-color: #BA68C8;
}
#gyrados:hover{
    background-color: #76befe;
}

#dragonite:hover {
    background-color: #49D0B0;
} */


.listagem .pokemon.ativo {
    background-color: #35458b;
}
